<div class="form-container">

  <form action="#">
    <h2>New course</h2>

    <div class="form-field">
      <label for="title">Title:</label>
      <span class="required">*required</span>
      <input type="text" placeholder="Text input" id="title" name="title">
    </div>

    <div class="form-field">
      <label for="description">Description:</label>
      <span class="required">*required</span>
      <textarea placeholder="Add description" id="description" name="description"></textarea>
    </div>

    <div class="form-field">
      <label for="duration">Duration:</label>
      <span class="required">*required</span>
      <input type="text" placeholder="minutes" id="duration" name="duration">
    </div>

    <div class="form-field">
      <label for="date">Date:</label>
      <span class="required">*required</span>
      <input type="date" placeholder="mm-dd-yyyy" id="date" name="date">
    </div>

    <div class="form-field">
      <label for="authors">Authors:</label>
      <span class="required">*required</span>
      <input type="text" placeholder="Start typing" id="authors" name="duration">
    </div>

    <div class="form-field">
      <button (click) = "onCancel()" class="grey">Cancel</button>
      <button (click) = "onSave()" class="green">Save</button>
    </div>

  </form>

</div>
