<div class="form-field">
  <label for="authors">Authors:</label>
  <span class="required">*required</span>
  <div class="errors" *ngIf="errors && used">
    <p *ngIf="errors.required">Authors is required</p>
  </div>

  <label class="authors-input">
    <input
      placeholder=""
      id="authors"
      name="authors"
      (input)="onSearch($event.target.value)"
      (click)="onClick($event)"
      autocomplete="off"
      [style.textIndent]="textIndent"
    >
    <div class="author-tags">
      <span
        *ngFor="let selectedAuthor of selectedAuthors"
        (click)="removeAuthor(selectedAuthor)">
        {{selectedAuthor}}
        <fa-icon [icon]="faTimes"></fa-icon>
      </span>
    </div>
  </label>

  <div class="authors-list" *ngIf="listOpened">
    <ul>
      <li *ngFor="let author of authorNamesCopy" (click)="addAuthor(author)">
        {{ author }}
      </li>
    </ul>
  </div>

</div>
