@import '../../../../styles';

$charcoal-grey: #414452;

:host-context {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $charcoal-grey;
  color: white;
  padding-left: 85px;
  padding-right: 39px;
}

app-logo {
  flex: 1;
}

button {
  @include button(transparent, 14px);
}

.icon {
  padding-right: 10px;
}
