@import '../../../../../styles';

.container {
  display: flex;
  justify-content: flex-end;
}

button {
  @include button($dark-sky-blue, 14px);

  display: block;
  padding: 7px 15px;
  right: 0;
  position: relative;
  margin: 24px 0 10px 0;
}

.plus {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 7px;

  &:before, 
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    background: $white;
    height: 16px;
    width: 2px;
    border-radius: 1px;
    transform: translateY(-50%);
  }
  
  &:after {
    transform: translateY(-50%) rotate(90deg);
    transform-origin: 50% 50%;
  }
}
