<div class="form-container">

  <form action="#" [formGroup]="newUserForm">
    <h2>New course</h2>

    <div class="form-field">
      <label for="title">Title:</label>
      <span class="required">*required</span>
      <input type="text" placeholder="Text input" id="title" name="title" formControlName="title">
    </div>

    <div class="form-field">
      <label for="description">Description:</label>
      <span class="required">*required</span>
      <textarea placeholder="Add description" id="description" name="description" formControlName="description"></textarea>
    </div>

    <app-date-input-field [newUserForm]="newUserForm" ></app-date-input-field>

    <app-duration-input-field [newUserForm]="newUserForm"></app-duration-input-field>

    <app-authors-input-field [newUserForm]="newUserForm"></app-authors-input-field>

    <div class="form-field buttons-container">
      <button (click) = "onCancel()" class="cancel-button">Cancel</button>
      <button (click) = "onSave()" class="save-button" [disabled]="newUserForm.invalid">Save</button>
    </div>

  </form>

</div>
