@import '../../../../styles';

.footer {
  display: flex;
  height: 64px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 84px;
  background-color: $charcoal-grey;
  color: $silver;
  flex-shrink: 0;
}
