<div class="form-field not-full">
  <label for="duration">Duration:</label>
  <span class="required">*required</span>

  <app-error
    *ngIf="control.errors && (control.dirty || control.touched)"
    [required]="control.errors.required"
    [customError]="control.errors.validateDuration || ''">
  </app-error>

  <input
    placeholder="minutes"
    id="duration"
    name="duration"
    [value]="durationValue && durationValue"
    (input)="changeDuration($event.target.value)">
  <div class="duration">{{ duration | durationPipe }}</div>

</div>
