<app-instrumental-section (addCourse)="onAddCourse()"></app-instrumental-section>
<div class="container" *ngIf="courses.length; else noContent">
  <ul>
    <li *ngFor="let course of filteredCourses | orderCoursesByDate">
      <app-course-item
        appBorderStyle
        [id]="course.id"
        [course]="course"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
        [ngClass]="{'top-rate': course.isTopRated}">
      </app-course-item>
    </li>
  </ul>
  <div class="load-more-container">
    <button class="load-more" (click) = "loadMore()" [disabled]="(totalCoursesNumber | async) <= courses?.length">Load more</button>
  </div>
</div>
<ng-template #noContent>
  <div class="no-courses-container">
    <div class="no-courses">No data. Feel free to add new course</div>
  </div>
</ng-template>

