@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

$soft-blue: #577ce6;
$dark-sky-blue: #30b6dd;
$pale-grey-two: #f2f3f7;
$pale-grey: #d9dbe3;
$steel: #868996;
$charcoal-grey: #414452;
$silver: #c0c3ce;
$white: #ffffff;
$sick-green: #9bc837;
$cloudy-blue: #b9bdce;
$slate-grey: #525462;
$dark: #2c2f3c;
$black: #000000;
$seafoam-blue: #76cdd8;
$pear: #e2f86a;
$battleship-grey: #6c7283;
$orange-red: #ff4e33;

@mixin button($color: transparent, $size: 12px) {
  background-color: $color;
  font-size: $size;
  border: 0;
  color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 3px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.errors {
  color: $orange-red;
  font-size: 12px;
  width: 100%;
}

.errors p {
  margin: 5px 0;
}
